<h1>Flight Index</h1>

<h3>Flights:</h3>
<% @flights.each do |flight| %>
  <section id="flight-<%= flight.id %>">
    Number: <%= link_to "#{flight.number}", flight_path(flight) %><br>
    Date: <%= flight.date %><br>
    Departure: <%= flight.departure_city %><br>
    Arrival: <%= flight.arrival_city %><br><br>
  </section>
<% end %>
