<h1>Flight Index</h1>

<h2>Flights:</h2>
<% @flights.each do |flight| %>
  <section id="flight-<%= flight.id %>">
    <h3>Number: <%= link_to "#{flight.number}", flight_path(flight) %></h3>
    Passengers: <%= flight.passenger_count %><br>
    Date: <%= flight.date %><br>
    Departure: <%= flight.departure_city %><br>
    Arrival: <%= flight.arrival_city %><br><br>
    <br>
  </section>
<% end %>
