<h1>Flight #<%= @flight.number %></h1>
* Date: <%= @flight.date %><br>
* Time: <%= @flight.time %><br>
* Departure: <%= @flight.departure_city %><br>
* Arrival: <%= @flight.arrival_city %><br><br>

<h3>Passengers:</h3>
  <% @passengers.each do |passenger| %>
  <section id="passenger-<%= passenger.id %>">
    * <%= passenger.name %> <%= button_to 'Remove Passenger', flight_passenger_path, method: :delete, params: {passenger_id: passenger.id} %><br>
  </section>
<% end %>

<h3>Average Age Of Adult Passengers: <%= @flight.passengers_average_age.round(1) %></h3>
